.divButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 0 55px;
    height: 150px;
}

.buttonContainer{
    width: auto;
    height: auto;
}
.rgbButton{
    position: relative;
    padding: 12px 15px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #252525;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.5s;
}
.rgbButton:first-child:hover{
background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
background-size: 400%;
}
.rgbButton:last-child:hover{
background: linear-gradient(90deg, #fa7199, #f5ce62, #e43603, #fa7199);
background-size: 400%;
}
.rgbButton:first-child:before,
.rgbButton:last-child:before{
content: '';
position: absolute;
background: inherit;
border-radius: 50px;
filter: blur(20px);
opacity: 0;
transition: opacity 0.5s;
}

.rgbButton:first-child:hover:before,
.rgbButton:last-child:hover:before{
opacity: 1;
z-index: -1;
}
.rgbButton:hover{
z-index: 1;
animation: glow 8s linear infinite;
}
@keyframes glow {
0%{
    background-position: 0%;
}
100%{
    background-position: 400%;
    }
}

 /*! DIVS FILTRADO Y JUEGOS */
.wrapContainer{
    display: flex;
    justify-content: space-between;
    gap: 0px;
}
.wrapFilters{
    display: flex;
    justify-content: flex-start;
    width: 18%;
    margin-top: 130px;
    margin-left: 55px;
}
.wrapCards{
    width: 82%;
}
.filtersDiv{ 
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.gridContainer{
    width: auto;
    display: flex;
    justify-content: center;
}
.gamesContainer{
    width: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 77px;
    grid-column-gap: 58px;
}

/*! FILTERS */

.selectCss {
    -webkit-appearance: none;
    padding: 7px 40px 7px 12px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    font-family: arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
    transition: all 150ms ease;
    margin-bottom: 10px;
    color: #6B6B6B;
    appearance: none;
    outline: none;
    background-color: #262626;
    background-image:url('https://icons.veryicon.com/png/o/miscellaneous/simple-and-round-line-mark/down-arrow-56.png');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 1em auto, 100%;
}
.titleCss{
    color: white;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 17px;
}

.titleInfo{
    margin: 8px 0 5px 0;
    color: white;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
}

/*! ALLVIDEOGAMES BUTTON */
.allButton{
    position: relative;
    padding: 12px 15px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #252525;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background 0.5s;
}
.allButton:first-child:hover{
background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
background-size: 400%;
}
.allButton:last-child:hover{
background: linear-gradient(90deg, #fa7199, #f5ce62, #e43603, #fa7199);
background-size: 400%;
}
.allButton:first-child:before,
.allButton:last-child:before{
content: '';
position: absolute;
background: inherit;
border-radius: 50px;
filter: blur(20px);
opacity: 0;
transition: opacity 0.5s;
}

.allButton:first-child:hover:before,
.allButton:last-child:hover:before{
opacity: 1;
z-index: -1;
}
.allButton:hover{
z-index: 1;
animation: glow 8s linear infinite;
}
@keyframes glow {
0%{
    background-position: 0%;
}
100%{
    background-position: 400%;
    }
}
.centerButton{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}